* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #ffd89b; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #19547b,
    #ffd89b
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #19547b,
    #ffd89b
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  font-family: 'Manrope', sans-serif;
  font-weight: 200;
  color: rgb(230, 230, 230);
  font-size: 1.5rem;
}
/* #fd7e14 */

header {
  font-size: 2rem;
  color: #303030;
}

header,
form {
  min-height: 18vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

form input,
form button {
  padding: 0.5rem 1.2rem;
  font-size: 1.7rem;
  border: none;
  background: rgba(255, 255, 255, 0.5);
  color: rgba(255, 255, 255, 0.7);
}

.logo-type {
  color: #303030;
}

form button {
  color: #fff;
  background: #303030;
  cursor: pointer;
  transition: all 0.5s ease;
}

form button:hover {
  background: #fff;
  color: #303030;
}

.todo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-list {
  min-width: 30%;
  list-style: none;
}

.todo {
  margin: 1rem;
  background: #303030;
  color: #fff;
  font-size: 1.7rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo li {
  flex: 1;
}

.trash-btn,
.complete-btn {
  background: #303030;

  color: #fff;
  border: none;
  padding: 0.7rem;
  cursor: pointer;
  font-size: 1.7rem;
}
