// import fonts
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200&display=swap');

$main-font: 'Roboto', sans-serif;
$title-font: 'Manrope', sans-serif;
$main-font-weight: 300;
$main-font-size: 1.5rem;
$first-color: rgba(255, 255, 255, 0.2);
$second-color: rgba(255, 255, 255, 0.7);
$todos-color: rgba(48, 48, 48, 0.7);
$dark-color: #303030;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  //!main background gradient
  background: #cb2d3e; /* fallback for old browsers */ /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#ef473a),
    to(#cb2d3e)
  );
  background: linear-gradient(
    to right,
    #ef473a,
    #cb2d3e
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  //! end of background gradient
  font-family: $title-font;
  font-weight: 200;

  display: -webkit-box;
  display: flex;
  font-size: $main-font-size;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
}

header,
form {
  margin: 2rem 0 0 0;
  font-size: 2rem;
  color: $dark-color;
  min-height: 4rem;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
}

form input,
form button {
  outline: none;
  border: none;
  font-size: 1.3rem;
  background: $first-color;
  // margin: 1rem;
  padding: 0.7rem 0.5rem;
}
form input {
  width: 15rem;
  margin-right: 0.5rem;
  // margin: 1rem 1rem 0 1rem;
}
form button {
  padding: 0.7rem 1rem;
  color: $second-color;
  background: $first-color;
  cursor: pointer;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  border-radius: 50%;
  margin-left: 0;
}

form button:hover {
  background: #ef473a;
  color: $dark-color;
}

.todo-container {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
}

.todo-list {
  width: 22rem;
  list-style: none;
}

.todo {
  margin: 1rem 0.5rem;
  background: #f0645ac2;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  font-weight: 300;
  border-radius: 1rem;
  font-size: 1.2rem;
  overflow: hidden;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;

  li {
    -webkit-box-flex: 1;
    flex: 1;
  }
}

.todo-input {
  color: rgba(255, 255, 255, 0.9);
  border-radius: 1.5rem;
}

.todo-item {
  font-size: 1rem;
  font-family: $main-font;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.9);
  padding-left: 0.2rem;
}

.trash-btn,
.complete-btn {
  background: rgba(48, 48, 48, 0);
  color: $second-color;
  border: none;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  padding: 0.6rem 1rem;
  cursor: pointer;
  font-size: 1.3rem;
  outline: none;
  border-radius: 1rem;
}

.complete-btn:hover {
  background: #ef473a;
  color: $todos-color;
}

.trash-btn:hover {
  background: #cb2d3e;
  color: $todos-color;
  border-radius: 1rem;
}

.warning-message {
  color: $dark-color;
  font-family: $main-font;
  font-size: 1rem;
  font-weight: 300;
  text-align: center;
  background: $first-color;
  padding: 0.5rem 1rem;
  border-radius: 15px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.fa-exclamation-triangle {
  color: #cc1c24;
  font-size: 1.4rem;
  margin: 0.5rem 0rem;
}

.fa-trash-alt,
.fa-square,
.fa-check-square {
  pointer-events: none;
}

.checked {
  text-decoration: line-through;
  opacity: 0.3;
}

.fall {
  -webkit-transform: translateY(8rem) rotateZ(50deg);
  transform: translateY(8rem) rotateZ(50deg);
  opacity: 0;
}

select {
  padding: 0.2rem;
  cursor: pointer;
  border: 0rem solid transparent;
  border-radius: 1rem;
  background: $first-color;
  opacity: 0.7;
  outline: none;
  color: $dark-color;
}

.select {
  margin: 0rem 1rem 1rem 1rem;
  overflow: hidden;
  text-align: center;
  padding: 0rem;
  ::after {
    content: '\25BC';
    background: #cc1c24;
    top: 0;
    right: 0;
    padding: 1rem;
    pointer-events: none;
    transition: all 0.3s ease;
  }
  :hover::after {
    background: #000;
    color: #fff;
  }
}

.filter-todo {
  text-align: center;
  margin: 0;
}
